<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="landingpage.css">
  

  <title>Sung Jinwoo Card</title>
</head>
<body>
  <div class="card">
    <div class="background-overlay"></div> <!-- New overlay added here -->
    <div class="text">
      <div class="name">Sung Jinwoo</div>
      <div class="name-outline">Sung Jinwoo</div>
      <div class="grade">Grade 1</div>
    </div>
    <div class="stars">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </div>
    <div class="character">
      <img src="/project/MANAGEMENT/account/templates/student/images/profile.png" alt="Sung Jinwoo">
    </div>
    <button class="cybr-btn" onclick="window.location.href='/project/MANAGEMENT/account/templates/student/student_dashboard.html'">START
    </button>
      
    <div class="bottom-line">
        <img src="/project/MANAGEMENT/account/templates/student/images/line.png" alt="line">
    </div>
  </div>
</body>
</html>